

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root{
    
  zoom: 0;
  user-zoom: 0;
}
body{
  color: black;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: white;
  zoom: 0;
  user-zoom: 0;
}


.body-dark{
  background-color: black;
  color: white;
}

input{
  color: black;
  background-color: beige;
}

.PinnedContainer{
    display: grid;
    grid-template-rows: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto);
    grid-auto-flow: row;
}

.expandProject{
    grid-row: span 2;
}

input[types="checkbox"] {
    width: 20px;
    height: 20px;
}

.microTasks::-webkit-scrollbar{ 
    width: 7px;
    height: 7px;
    padding: 10px;
  }
  
  .microTasks::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 10px;
  }
  .microTasks::-webkit-scrollbar-track{
    background-color: black;
    width: 7px;
    background-color: gainsboro;
    padding: 10px;
  }
  